<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= brand %>'s Details</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="executives">
        <h1>Executives Working on <%= brand %></h1>
        <% if (executives.length > 0) { %> 
            <% for (const executive of executives) { %>
                <form action="" method="GET">
                    <h2>Executive: <%= executive.first_name %> <%= executive.last_name %></h2>
                    <a href="/executiveDetails/<%= executive.executive_id %>">See all campaigns</a>
                </form>
            <% } %>
        <% } else { %>
            <p>No executives currently assigned</p>
        <% } %>
    </div>
</body>
</html>