<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= firstName %> <%= lastName %>'s campaigns</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="campaigns">
        <h1><%= firstName %> <%= lastName %>'s campaigns</h1>
        <% if (campaigns.length > 0) { %> 
            <% for (const campaign of campaigns) { %>
                <form action="/removeFromCampaign/<%=campaign.campaign_id %>/<%= executiveId %>" method="POST">
                    <h2>Brand: <%= campaign.brand %></h2>
                    <a href="/campaignDetails/<%= campaign.campaign_id %>">See all executives</a>
                    <button type="submit">Remove Campaign</button>
                </form>
            <% } %>
        <% } else { %>
            <p>Not assigned to any campaigns</p>
        <% } %>
    </div>
    
</body>
</html>